

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 136px;
    background-color: rgb(77, 31, 31);
    color : white;
    font-size: large;
}
button{
    margin-left: 36px;
margin-top: 10px;
}
#passbox{
    
font-size: 24px;
    padding: 13px 26px;
    background-color: purple;
}
.main1{
    margin-top: 23px;
text-align: center;
}

 
