/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{

    
    background-image: linear-gradient(rgba(22, 22, 71, 0.527),rgba(240, 2, 42, 0.432),rgba(247, 11, 247, 0.664),rgba(13, 73, 13, 0.712));
    height: 100vh;
}
.box{
    background-color: rgb(6, 6, 51);
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin:  auto;
    display: block;
}
span{
    color: rgb(247, 6, 6);
    font-size: 27px;
   
}
#passbox{
    margin: 14px 26px 12px 14px;
    width: 80%;
    height: 35px;
color: rgb(238, 255, 0);
}
#num{
    margin-left: 200px;
    width: 40%;

}


 */
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 136px;
    background-color: rgb(77, 31, 31);
    color: white;
    font-size: large;
}
button{
    margin-left: 36px;
margin-top: 10px;
}
#passbox{
    
font-size: 24px;
    padding: 13px 26px;
    background-color: purple;
}
.main1{
    margin-top: 23px;
text-align: center;
}